body {
font-size: 200%;
}

footer {
    width: 75%;
}


.container{
    width: 100%;
}

.carousel-container{
    width: 100%;
    margin: 0 auto;
}

.nomargin{
    margin: 0 auto;
}

.carousel{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

.half{
    width: 33%;
}
.darkgrey {
    background-color: dimgrey;
}

.lightgrey {
    background-color: lightgrey;
}

.navy {
    background-color: navy;
}
.red {
    background-color: crimson;
}
.text-white{
    color: white;
}
.btn-lg{
    width: 20%;
    height: 25%;
    font-size: 40px;
}

.heading {
    height: 300px;
}

.font-bg {
    font-size: 100px;
}

.font-md{
    font-size: 50px;
}

.content-container{
    width: 100%
}
.content{
    width: 75%;
    float: left;
    text-align: left;
}

.side-content{
    width: 25%;
    float: left;
    text-align: left;
}

.code-snippet{
    font-style: italic;
    font-weight: bold;
}

.sideimg {
    width: 100%;
    display: block;
}



