{% extends "base.html" %}
{% block content %}

    <div class="heading darkgrey">
        <h1 class="font-bg code-snippet">CI/CD</h1>
        <img src="../static/images/cicd.png" alt="GIT" >
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 48%" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="content-container">
        <div class="content">
            <h1 class="font-md">Continous Integration and Deployment</h1>
            <p>
                For this project I have set up Github actions which allows me to run tests when merging and when creating
                pull requests. For this I have set up my workflow files (dev.yml and prod.yml) with my information
                from dockerhub, heroku, and Github. Through these .yml files and Github actions I am able to perform tests
                and push to my development heroku application all before I merge my code with main. Once I confirm the merge
                I have more Github actions that test on the merge and deploy to my production heroku application.
            </p>

            <hr class="dashed">
            <h1 class="font-md">Push to Docker</h1>
            <p>
                In order to push to my docker repository I have in my prod.yml file an action to log into docker and push to
                the specific image that I have on dockerhub for my repository.
            </p>
        </div>

        <div class="side-content">
            <div>
                <img class="sideimg" src="../static/images/page-images/ci:cd-steps.jpg" alt=""/>
                <br>

            </div>

            <h2>CI/CD Links</h2>
            <ul class="list-group">
                <li class="list-group-item"><a href="https://www.heroku.com/">Heroku</a></li>
                <li class="list-group-item"><a href="https://docs.github.com/en/actions">Github actions</a></li>
                <li class="list-group-item"><a href="https://www.martinfowler.com/articles/continuousIntegration.html">Source 1 Martin Fowler</a></li>
                <li class="list-group-item"><a href="https://www.martinfowler.com/bliki/ContinuousDelivery.html">Source 2 Martin Fowler</a></li>
            </ul>

        </div>

    </div>
{% endblock %}